<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/books']">
    <mat-icon>list</mat-icon>
  </a>
</div>

<form [formGroup]="bookForm" (ngSubmit)="onFormSubmit(bookForm.value)">
  <div class="example-full-width" >
    <label>Name</label>
    <input matInput placeholder="ISBN" formControlName="isbn" >
    <!-- <mat-error>
      <span *ngIf="!bookForm.get('isbn').valid && bookForm.get('isbn').touched">Please enter ISBN</span>
    </mat-error> -->
  </div>
  <div class="example-full-width">
    <label>Title</label>
    <input matInput placeholder="Title" formControlName="title" >
    <!-- <mat-error>
      <span *ngIf="!bookForm.get('title').valid && bookForm.get('title').touched">Please enter Book Title</span>
    </mat-error> -->
  </div>
  <div class="example-full-width" >
    <label>Author</label>
    <input matInput placeholder="Author" formControlName="author" >
    <!-- <mat-error>
      <span *ngIf="!bookForm.get('author').valid && bookForm.get('author').touched">Please enter Book Author</span>
    </mat-error> -->
  </div>
  <div class="example-full-width" >
    <label>Description</label>
    <textarea matInput placeholder="Description" formControlName="description" ></textarea>
    <!-- <mat-error>
      <span *ngIf="!bookForm.get('description').valid && bookForm.get('description').touched">Please enter Book
        Description</span>
    </mat-error> -->
  </div>
  <div class="example-full-width" >
    <label>Publisher</label>
    <input matInput placeholder="Publisher" formControlName="publisher" >
    <!-- <mat-error>
      <span *ngIf="!bookForm.get('publisher').valid && bookForm.get('publisher').touched">Please enter Publisher</span>
    </mat-error> -->
  </div>
  <div class="example-full-width" >
    <label>Published Year</label>
    <input matInput placeholder="Published Year" formControlName="published_year" >
    
  </div>
  <div class="button-row" >
    <button type="submit" [disabled]="!bookForm.valid" mat-raised-button color="primary"> save
      <mat-icon>save</mat-icon>
    </button>
  </div>
</form>